.card-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  height: 10em;
  width: 15em;
  margin-top: 30%;
}

/* On mouse-over, add a deeper shadow */
.card-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: auto;
}

img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  word-break: break-all;
  padding: 1em;
}

.container-list {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  word-break: break-all;
  margin: 0 12px;
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.summary {
  padding: 1em;
}

.card-avatar-grid {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 85%;
  margin: auto;
}

.name-list {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px
}

.artist-list {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}