.input-container {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.input-label {
  margin-bottom: 0.5rem;
}

.input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}