.podcastDetailContainer {
    margin: auto;
    width: 80%;
}

.detail {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    grid-gap: 4em;
    margin:auto;
}

.episodeCount {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: "grotesk";
    font-size: larger;
    font-weight: bold;
}

.podcastTableContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    margin-top: 1em;
}

.row {
    display: flex;
    border: 1px solid #ffffff;
}

.firsttitlecell {
    padding: 0.5em;
    flex: 1;
    flex-grow: 3;
    padding: 10px;
    border: 1px solid #ffffff;
    font-weight: bold;
}

.titlecell {
    padding: 0.5em;
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    font-weight: bold;
}

.firstcell {
    background-color: rgb(247, 197, 197);
    padding: 0.5em;
    flex: 1;
    flex-grow: 3;
    padding: 10px;
    border: 1px solid #ffffff;
}

.cell {
    background-color: rgb(247, 197, 197);
    padding: 0.5em;
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.card-avatar-detail {
    width: 80%;
    padding: 10%;
}