.detail {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
}

.tableContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    width: 50vw;
    border-radius: 5px;
}

.table {
    width: 100%;
}

.table tbody {
    padding: 1em;
}

.table th {
    background-color: rgb(255, 255, 255);
    padding: 0.5em
}

.table th:first-child,
.table td:first-child {
    width: 60%;
}

.table th:not(:first-child),
.table td:not(:first-child) {
    width: 20%;
    text-align-last: right;
}

.table tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
    margin: 1em;
}

.table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 16vw;
    padding: 2px 16px;
}

/* a:link, a:visited, a:active {
    text-decoration: none;
} */

.card-avatar-detail {
    width: 80%;
    padding: 10%;
}